<!DOCTYPE html>
<html>
<head>
    <title>Web Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Enter Your Info</h1>
    <form action="/submit" method="post">
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name"><br><br>

        <label for="language">Favorite Language:</label>
        <input type="text" id="language" name="language"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>

